.theme_toggler {
    background: var(--primary-color);
    z-index: 9999;
    left: 10px;
    bottom: 10px; /* Positioned at the bottom */
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 10px;
    position: fixed;
}

.theme_toggler svg {
    width: 2em;
    height: 2em;
}
