:root {
    --bg-color: #000000;
    --primary-color: #000000;
    --secondary-color: #1cd216;
    --text-color: #ffffff;
    --text-color-2: #20ec53;
    --text-color-3: rgb(240, 249, 243);
    --overlay-color: rgb(12 12 12 / 63%);
}

[data-theme="light"] {
    --bg-color: #d2d8d2;
    --primary-color: #535554;
    --secondary-color: #000;
    --text-color: #000;
    --text-color-2: #000802;
    --text-color-3: rgb(204, 0, 0);
    --overlay-color: rgb(255 255 255 / 70%);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Courier New', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding-top: 5%;
    /* Relative padding */
    border-left: 1vw solid var(--primary-color);
    /* Viewport relative border */
    border-right: 1vw solid var(--primary-color);
}

ul {
    list-style: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Courier New', sans-serif;
    margin: 0 1rem;
}

a,
a:hover {
    color: var(--text-color);
    text-decoration: none;
    /* Optional: Removes underline */
}

p {
    word-break: break-word;
    hyphens: auto; /* Standard syntax */
    -webkit-hyphens: auto; /* Prefix for Safari 5.1+ and Safari on iOS 4.2+ */
    padding: 0 1rem;
}


.ovhidden {
    overflow: hidden;
}

.text_2,
.text_2:hover {
    color: var(--text-color-2);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.color_pr {
    color: var(--primary-color) !important;
}

.color_sec {
    color: var(--secondary-color);
}

.green-text {
    color: #20ec53;
}

img {
    width: 100%;
    /* Full width on small screens */
    height: auto;
    /* Maintain aspect ratio */
/*     max-width: 800px;
    /* Maximum width */ */
}
