.po_items_ho {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent items from wrapping */
}

.po_item {
    display: inline-block; /* Ensure items are inline for horizontal scrolling */
    position: relative;
    background: var(--secondary-color);
    padding: 6px;
    border: 1px solid var(--secondary-color);
    transition: all 0.3s ease;
    font-size: 1rem; /* Set a proper font-size */
    overflow: hidden; /* Ensure content does not overflow the container */
    min-height: 300px;
    vertical-align: top; /* Align items to the top */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.po_item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    transition: transform 0.3s ease;
}

.po_item .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--overlay-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    border: 1px solid black;
}

.po_item:hover img {
    transform: scale(1.1); /* Zoom the image on hover */
}

.po_item:hover .content {
    opacity: 1;
}

.po_item:hover {
    grid-row: span 2; /* Make the item span two rows on hover */
    grid-column: span 2; /* Make the item span two columns on hover */
}

.po_item .content a {
    background: var(--bg-color);
    border: solid 1px var(--text-color);
    padding: 4px 8px;
    text-align: center;
    font-size: 1rem;
}

.po_item .content a:hover {
    text-decoration: none;
}
