.po_items_ho {
    column-width: 15em;
    column-gap: 4rem;
}

.po_item {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0.5rem auto;
    position: relative;
    background: var(--secondary-color);
    padding: 6px;
    border: 1px solid var(--secondary-color);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    font-size: 0; /* Make sure this is intentional */
    min-height: 300px;
}

.po_item img {
    max-width: 100%;
}

.po_item .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--overlay-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out, width 0.3s ease-in-out;
    opacity: 0;
    border: 1px solid black;
    font-size: 20px; /* Assuming you want font size to be non-zero when visible */
}

.po_item:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-5px); /* Optional: subtle lift effect on hover */
}

.po_item:hover .content {
    opacity: 1; /* Make content visible */
    height: calc(100% - 30px); /* Adjust height on hover */
    width: calc(100% - 30px); /* Adjust width on hover */
    color: var(--text-color); /* Ensure readable text color */
}

.po_item .content a {
    background: var(--bg-color);
    border: solid 1px var(--text-color);
    padding: 4px 8px;
    font-size: 1rem;
    text-align: center;
}

.po_item .content a:hover {
    text-decoration: none;
    background: var(--primary-color); /* Optional: change background on hover */
    color: var(--text-color);
}
